<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width-device-width, inicial-scale-1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/css/normalize.css" rel = "stylesheet">
    <link href="/css/styles.css" rel = "stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        <label for="nombre">Nombre y Apellido</label>
        <input type="text" name="nombre" id="nombre"><br>
        <label for="usuario">Nombre de usuario</label>
        <input type="text" name="usuario" id="usuario"><br>
        <label for="fecha">Fecha de Nacimiento</label>
        <input type="date" name="fecha" id="fecha"><br>
        <label for="domicilio">Domicilio</label>
        <input type="text" name="domicilio" id="domicilio"><br>
        <label for="perfil">Perfil del usuario</label><br>
        <label for="vendedor">vendedor
            <input type="radio" name="perfil" id="vendedor">
        </label>
        <label for="comprador">comprador
            <input type="radio" name="perfil" id="comprador">
        </label><br>
        <label for="categorias">Intereses</label><br>
            <label for="electro">Electro
                <input type="checkbox" value="Electro" id="electro"><br>
            </label>
            <label for="moda">Moda
                <input type="checkbox" value="Moda" id="moda"><br>
            </label>
            <label for="hogar">Hogar
                <input type="checkbox" value="Hogar" id="hogar"><br>
            </label>
            <label for="jugueteria">Juguetería
                <input type="checkbox" value="Juguetería" id="jugueteria"><br>
            </label>
            <label for="vida">Vida Sana
                <input type="checkbox" value="Vida Sana" id="vida"><br>
            </label>
        </label><br>
        <label for="foto">Foto de usuario</label>
    </form>
</body>
</html>